* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.grid_container {
  display: grid;
  width: 100vw;
  height: 100vh;
  grid-template-columns: 25% 1fr;
  grid-template-rows: 1fr 80% 1fr;
  padding: 20px 20px 0;
  gap: 2px;
}

div {
  color: #fff;
}

.header {
  background-color: blue;
  grid-column: 1/3;
  grid-row: 1/2;
}

.main {
  background-color: red;
  grid-column: 2/3;
  grid-row: 2/3;
}

.side {
  background-color: green;
  grid-column: 1/2;
  grid-row: 2/3;
}

.footer {
  background-color: blueviolet;
  grid-column: 1/3;
  grid-row: 3/4;
}
