@font-face {
  font-family: "Cormorant_regular";
  src: url("../font/Cormorant_Garamond/CormorantGaramond-Regular.ttf");
}

@font-face {
  font-family: "Cormorant_bold";
  src: url("../font/Cormorant_Garamond/CormorantGaramond-Bold.ttf");
}

@font-face {
  font-family: "Cormorant_regular_italic";
  src: url("../font/Cormorant_Garamond/CormorantGaramond-Italic.ttf");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --font_regular: "Cormorant_regular";
  --font_regular_italic: "Cormorant_regular_italic";
  --font_bold: "Cormorant_bold";
}

body {
  font-family: var(--font);
  background-color: #e9e9e0;
  color: #333333;
}

/* # === HEADER === */

header h1 {
  text-align: center;
  font-family: var(--font_bold);
  font-size: 1.875rem;
  padding-top: 2rem;
  padding-bottom: 2.5rem;
}

header .date {
  display: flex;
  justify-content: space-around;
  column-gap: 260px;
  border-top: 5px solid #333333;
  border-bottom: 5px solid #333333;
  padding: 5px 0;
}

.date p:nth-of-type(2) {
  padding-left: 50px;
}

/* # === MAIN === */

.main_aside_container {
  display: flex;
}

main {
  margin-top: 20px;
  width: 80%;
}

main > h1 {
  text-align: center;
  font-family: var(--font_bold);
  font-size: 35px;
  margin-bottom: 13px;
}

.article_grid_container {
  display: grid;
  grid-template-columns: 1fr 1fr 2fr;
  gap: 13px 10px;
}

/* .article_grid_container > article:nth-of-type(1) {
  grid-column: 1/2;
  grid-row: 1/2;
} */

/* .article_grid_container > article:nth-of-type(2) {
  grid-column: 2/3;
  grid-row: 1/2;
} */
/* 
.article_grid_container > article:nth-of-type(3) {
  grid-column: 1/2;
  grid-row: 2/3;
}

.article_grid_container > article:nth-of-type(4) {
  grid-column: 2/3;
  grid-row: 2/3;
} */

.picture_container {
  grid-column: 3/4;
  grid-row: 1 / span 3;
  padding-bottom: 110px;
  font-family: var(--font_regular_italic);
}

/* # === ASIDE === */

aside {
  width: 20%;
  text-align: center;
  padding: 20px 0;
  display: flex;
  flex-direction: column;
  row-gap: 20px;
}

aside > p {
  font-family: var(--font_bold);
  font-size: 19px;
}

aside > article:nth-of-type(1) {
  font-family: var(--font_bold);
  font-size: 50px;
  padding: 25px 40px;
  border: 5px solid #333333;
  text-align: center;
}

.knives_add {
  border: 5px solid #333333;
  padding: 25px 37px;
  text-align: center;
}

.knives_add h2 {
  font-family: var(--font_bold);
  font-size: 24px;
}

.knives_add p:nth-of-type(1) {
  font-size: 16px;
  padding: 10px 0;
}

.knives_add p:nth-of-type(2) {
  display: inline-block;
  font-size: 20px;
  color: #737b80;
  border-bottom: 2px solid #737b80;
  padding-bottom: 5px;
}

.ikea {
  padding: 25px;
  border: 5px solid #333333;
}
