* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.grid_container {
  display: grid;
  gap: 5px;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  height: 1200px;
  padding: 10px;
  width: 1200px;
}

.grid_container div:nth-of-type(1) {
  background-image: url("../img/picture1.jpg");
  background-position: center;
  background-size: cover;
}
.grid_container div:nth-of-type(2) {
  background-image: url("../img/picture2.jpg");
  background-position: center;
  background-size: cover;
}
.grid_container div:nth-of-type(3) {
  background-image: url("../img/picture3.jpg");
  background-position: center;
  background-size: cover;
}
.grid_container div:nth-of-type(4) {
  background-image: url("../img/picture2.jpg");
  background-position: center;
  background-size: cover;
}
.grid_container div:nth-of-type(5) {
  background-image: url("../img/picture3.jpg");
  background-position: center;
  background-size: cover;
}
.grid_container div:nth-of-type(6) {
  background-image: url("../img/picture1.jpg");
  background-position: center;
  background-size: cover;
}
.grid_container div:nth-of-type(7) {
  background-image: url("../img/picture3.jpg");
  background-position: center;
  background-size: cover;
}
.grid_container div:nth-of-type(8) {
  background-image: url("../img/picture1.jpg");
  background-position: center;
  background-size: cover;
}
.grid_container div:nth-of-type(9) {
  background-image: url("../img/picture2.jpg");
  background-position: center;
  background-size: cover;
}
