* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.grid_container {
  width: 100vw;
  height: 600px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 10px;
  padding: 10px;
}

.grid_container div {
  border-radius: 5px;
}

.grid_container div:nth-of-type(1) {
  background-color: red;
  grid-column: 1 / 5;
  grid-row: 1 / 2;
}
.grid_container div:nth-of-type(2) {
  background-color: blue;
  grid-column: 1 / 3;
  grid-row: 2 /4;
}
.grid_container div:nth-of-type(3) {
  background-color: green;
  grid-column: 3/5;
  grid-row: 2/3;
}
.grid_container div:nth-of-type(4) {
  background-color: blueviolet;
  grid-column: 3/4;
  grid-row: 3/4;
}
.grid_container div:nth-of-type(5) {
  background-color: blueviolet;
  grid-column: 4/5;
  grid-row: 3/4;
}
